<h1>Create your Adventurer</h1>

<%= form_for (@character) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %><br/>

<br/>
<br/>

<%= f.label :race %>
<%= f.select :race, @race.map {|element| element.to_s.start_with?('b') } %><br/>

<br/>
<br/>

<%= f.label :klass, "Class" %>
<%= f.text_field :klass %><br/>

<br/>
<br/>

<%= f.submit %>
<% end %>