<% if @character.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>
 
    <ul>
    <% @character.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Create your Adventurer</h1>

<%= form_for (@character) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %><br/>

<br/>
<br/>

<%= f.label :race %>
<%= collection_select (:race,:race_name) %><br/>

<br/>
<br/>

<%= f.label :klass, "Class" %>
<%= f.text_field :klass %><br/>

<br/>
<br/>

<%= f.submit %>
<% end %>