<% if @character.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>
 
    <ul>
    <% @character.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>Create your Adventurer</h1>

<%= form_for (@character) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %><br/>

<br/>
<br/>

<%= f.label :race_name %>
<%= f.select(:race_name, options_for_select([['Dragonborn','Dragonborn'],['Dwarf','Dwarf'],['Human','Human'],['Elf','ELF'],['Half-Elf','Half-Elf'],['Halfling','Halfling']]))  %><br/>

<br/>
<br/>

<%= f.label :klass, "Class" %>
<%= f.select(:klass, options_for_select([['Fighter','Fighter'],['Ranger','Ranger'],['Rogue','Rogue'],['Wizard','Wizard'],['Bard','Bard'],['Barbarian','Barbarian']]))  %><br/>


<br/>
<br/>

<%= f.submit %>
<% end %>



<%
=begin%>
 //  :character, :race_name, Race.all, :id, :name   
<%
=end%>
